<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">

<header>
  <%- include('../partials/nav'); %>
</header>

<main>
<!--Exercise Pills-->
<section>
    <button type="button" class="btn btn-primary" data-bs-toggle="button" autocomplete="off">Chest</button>
    <button type="button" class="btn btn-primary" data-bs-toggle="button" autocomplete="off">Back</button>
    <button type="button" class="btn btn-primary" data-bs-toggle="button" autocomplete="off">Shoulders</button>
    <button type="button" class="btn btn-primary" data-bs-toggle="button" autocomplete="off">Biceps</button>
    <button type="button" class="btn btn-primary" data-bs-toggle="button" autocomplete="off">Triceps</button>
    <button type="button" class="btn btn-primary" data-bs-toggle="button" autocomplete="off">Abs</button>
    <button type="button" class="btn btn-primary" data-bs-toggle="button" autocomplete="off">Legs</button>
</section>
<!--List of Chosen Exercises-->

<!--Workout Form-->
<section>
    <form action="" method="post">
        <label for=""></label>
        <label for=""></label>
        <label for=""></label>
    </form>
</section>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>