<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">

<header>
  <%- include('../partials/nav'); %>
</header>

<main>
<!--Exercise Pills-->
<section>
    <button id="chest" type="button" class="btn btn-outline-primary" data-bs-toggle="button" autocomplete="off">Chest</button>
    <button id="back" type="button" class="btn btn-outline-primary" data-bs-toggle="button" autocomplete="off">Back</button>
    <button id="shoulders" type="button" class="btn btn-outline-primary" data-bs-toggle="button" autocomplete="off">Shoulders</button>
    <button id="biceps" type="button" class="btn btn-outline-primary" data-bs-toggle="button" autocomplete="off">Biceps</button>
    <button id="triceps" type="button" class="btn btn-outline-primary" data-bs-toggle="button" autocomplete="off">Triceps</button>
    <button id="abs" type="button" class="btn btn-outline-primary" data-bs-toggle="button" autocomplete="off">Abs</button>
    <button id="legs" type="button" class="btn btn-outline-primary" data-bs-toggle="button" autocomplete="off">Legs</button>
    <button type="button" class="btn btn-primary" onclick="filter()">Filter</button>
</section>
<!--List of Chosen Exercises-->

<!--Workout Form-->
<section>
    <form action="" method="post">
        <label for="reps">Reps</label>
        <input type="number" id="reps">
        <label for="sets">Sets</label>
        <input type="number" id="sets">
        <select id="exercises">
            <%for (const exercise of sortedExercises){%>
            <option><%=exercise%></option>
            <%};%>
        </select>
        <button type="submit">Submit</button>
        <button type="button" onclick="//addExercise()">Add</button>
    </form>
</section>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>